<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link rel="stylesheet" th:href="style.css">
</head>
<body>
<div class="container align-items-center">
    <div class="jumbotron">
        <h1 class="text-center" th:text="${title}"></h1>
        <div class="container-fluid">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Título</th>
                    <th scope="col">Cópias</th>
                    <th scope="col">Disponível</th>
                    <th scope="col">Categoria</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <th scope="row" th:text="${book.id}"></th>
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.copies}"></td>
                    <td th:text="${book.available}"></td>
                    <td th:each="category: ${book.categories}">
                        <span class="badge badge-danger" href="#" th:text="${category.description}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>