<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" rel="stylesheet">
    <link rel="stylesheet" th:href="style.css">
</head>
<body>
<div class="container align-items-center">
    <div class="jumbotron">
        <h1 class="text-center" th:text="${title}"></h1>
        <div class="container-fluid">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Perfil</th>
                    <th scope="col">Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <div th:if="${user.status}">
                        <th scope="row" th:text="${user.id}"></th>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.profile}"></td>
                        <td>
                            <form action="/user/disable" th:object="${user}" th:action="@{/user/disable}" method="post">
                                <button class="btn btn-sm btn-outline-info"/>
                            </form>

                        </td>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>